<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="stylesheets/admin.css" />
  </head>
  <body>
    <div style="text-align: center">
      <u><h1>Admin dashboard</h1></u>

      <h2>Available books</h2>

      <% if (foundBook.length > 0) { %>
      <div class="card-container">
        <% foundBook.forEach(function(book) { %>
        <div class="card">
          <h2>Book name:<%= book.bookName %></h2>
          <p>Publisher:<%= book.publisher %></p>
          <p>Author:<%= book.author %></p>
        </div>
        <% }); %>
      </div>
      <% } else { %>
      <div class="no-books">No books donated</div>
      <% } %>

      <h2>Unavailable books</h2>
      <% if (foundBook.length > 0) { %>
      <div class="card-container">
        <% foundBook.forEach(function(book) { %>
        <div class="card">
          <h2><%= book.bookName %></h2>
          <p><%= book.publisher %></p>
          <p><%= book.author %></p>
        </div>
        <% }); %>
      </div>
      <% } else { %>
      <div class="no-books">No books donated</div>
      <% } %>
    </div>
  </body>
</html>
